

body{
	font-size: 16px;
	height: 1000px;
}

#header-nav{
	background-color: #B28ACC;
	border-radius: 0; 
	border: 0;
	height: 100px;
}

.navbar-brand h1 {
 color: black;
}

.navbar-brand {
	padding-top: 10px;
}

a:hover {
	text-decoration: none;
}
.navbar-header button.navbar-toggle { /*to adjust the collapse menu */
  clear: both;
  margin-top: 10px;
}

div h1 {
	text-align: center;
	text-decoration: bold;
	color: #B75FF1 ;
}

#chicken, #beef, #sushi{
	margin: 5px 5px 5px 20px;
}

#nav-list a:hover { /* user move the mouse to the icon */
  background: #ECF2F2;
}

button.navbar-toggle, .icon-bar {
  border: 1px solid black;
}
